version: '3.7'

services:
  main:
    container_name: waivio-service-notifier
    build: .
    command: npm run start
    restart: always
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '10m'
    env_file:
      - .env
